.contactsBlock{
    height: 100vh;
    background-color: #d382aa;
}

.contactsContainer{
    flex-direction: column;
    justify-content: flex-start;
}

.form{
    border: 1px solid;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}