.nav {
    width: 380px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text{
    color: #cfcfd5;
    font-family: "Poppins", sans-serif;
    text-decoration-line: none;
}