@import './variables';

@mixin text($fontFamily, $fontSize, $lineHeight, $textAlign, $color) {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  text-align: $textAlign;
  color: $color;
}