.projectsBlock{
    height: 100vh;
    background-color: #b48ee7;
}

.projectContainer{
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: white;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
